<div id="app" >
      <div class="pipes" >
          <div class="main" >
            <div class='selects' ><select [(ngModel)]='current_currency1' >
              <option *ngFor='let curr of currencies;' [value]="curr" >{{ curr }}</option>
            </select>
              <==>
              <select [(ngModel)]='current_currency2' >
                <option *ngFor='let curr of currencies' [value]="curr" >{{ curr }}</option>
              </select>
              </div>
            <input [(ngModel)]="inputCurr" placeholder="Enter a number to convert" />
              <div class="value" >{{ inputCurr | customCurrency:current_currency1:current_currency2 }}</div>
          </div>
    </div>
</div>
